:root {
  --background-basic-color: rgb(0, 0, 0);
  --text-basic-color: rgb(255, 255, 255);
  --decorate-hover-color: rgb(190, 175, 131);
  --background-input-color: rgb(0, 0, 0, 0.5);
}

html {
  scroll-behavior: smooth; 
}

* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

body {
  min-height: 100vh;
  margin: 0; 
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--background-basic-color);
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 40px;
  color: var(--text-basic-color);
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.header .container {
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: url('./assets/img/bg.jpg');
  background-position: center 0px;
  background-repeat: no-repeat;
}

.header svg {
  margin-right: auto;
}

.header .icon {
  width: 50px;
  height: 50px;
  fill: var(--text-basic-color);
}
  
.header .icon:hover {
  fill: var(--decorate-hover-color);
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.nav-list li {
  margin-right: 30px;
}

.nav-list a {
  color: var(--text-basic-color);
  text-decoration: none;
  transition: color .4s;
  line-height: 50px;
}

.nav-list a:hover {
  color: var(--decorate-hover-color);
}

.hamburger {
  display: none;
  margin: 0 4px 0 20px;
}

.hamburger .line {
  width: 50px;
  height: 3px;
  background-color: var(--text-basic-color);
  display: block;
  margin: 9.5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger:hover {
  cursor: pointer;
}

#hamburger {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#hamburger.is-active {
  position: fixed;
  right: 60px;
  top: 20px;
  animation: smallbig 0.6s forwards;
}

@keyframes smallbig {
  0%, 100%{
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
}

#hamburger.is-active .line:nth-child(1),
#hamburger.is-active .line:nth-child(2),
#hamburger.is-active .line:nth-child(3) {
  -webkit-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

#hamburger.is-active .line:nth-child(2) {
  opacity: 0;
}

#hamburger.is-active .line:nth-child(1) {
  -webkit-transform: translateY(13px) rotate(45deg);
  -ms-transform: translateY(13px) rotate(45deg);
  -o-transform: translateY(13px) rotate(45deg);
  transform: translateY(13px) rotate(45deg);
}

#hamburger.is-active .line:nth-child(3) {
  -webkit-transform: translateY(-13px) rotate(-45deg);
  -ms-transform: translateY(-13px) rotate(-45deg);
  -o-transform: translateY(-13px) rotate(-45deg);
  transform: translateY(-13px) rotate(-45deg);
}

.switcher-languages {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 50px;
  text-align: center;
}

.switcher-languages .slash {
  padding: 0 5px;
}

.switcher {
  transition: all .4s;
  cursor: pointer;
}

.switcher:hover {
  color: var(--decorate-hover-color);
}

.switcher-languages .is-active {
  color: var(--decorate-hover-color);
}

.switcher-languages .is-active:hover {
  color: var(--text-basic-color);
}

.switcher-theme {
  position: relative;
  width: 45px;
  height: 45px;
  margin-left: 30px;
  cursor: pointer;
}

.header .container .light-theme::before,
.header .container .dark-theme::before {
  content: "";
  position: absolute;
  width: 45px;
  height: 45px;
  top: 0;
  left: 0;
  transition: all .4s;
}

.header .container .light-theme::before {
  background-image: url(./assets/svg/sun.svg);
}

.header .container .dark-theme::before {
  width: 41px;
  height: 40px;
  top: 3px;
  left: 3px;
  background-image: url(./assets/svg/moon.svg);
}

.header .container .light-theme:hover::before,
.header .container .dark-theme:hover::before {
  filter: invert(22%) sepia(22%) saturate(458%) hue-rotate(7deg) brightness(87%) contrast(89%);
}

.hero .container {
  min-height: 820px;
  padding: 160px 80px 60px 80px;
  background-image: url('./assets/img/bg.jpg');
  background-repeat: no-repeat;
  background-position: center -90px;
}

.hero .container h1 {
  margin-bottom: 10px;
  font-family: 'Merriweather', serif;
  font-style: normal;
  font-size: 60px;
  line-height: 120px;
  font-weight: 700;
}

.hero .container p {
  max-width: 470px;
  margin-bottom: 25px;
  font-size: 20px;
  line-height: 40px;
}

.button {
  width: 220px;
  padding: 6px 10px 5px;
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  border: 2px solid var(--decorate-hover-color);
  cursor: pointer;
  transition: all .4s;
}

.button-light {
  color: var(--background-basic-color);
  background-color: var(--decorate-hover-color);
}

.button-light:hover {
  color: var(--text-basic-color);
}

.button-dark {
  color: var(--decorate-hover-color);
  background-color: transparent;
}

.button-dark:hover {
  color: var(--text-basic-color);
}

.section-title-line {
  width: 50%;
  margin: 0 auto;
}

.section-title {
  position: relative;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 60px;
  font-family: 'Merriweather', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 80px;
  text-align: center;
  color: var(--decorate-hover-color);
  overflow: hidden;
}

.section-title-skills::before,
.section-title-portfolio::before,
.section-title-video::before, 
.section-title-price::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  top: 50%;
  left: 0;
  background-color: var(--decorate-hover-color);
}

.skills .container .light-theme::before,
.portfolio .container .light-theme::before,
.video .container .light-theme::before, 
.price .container .light-theme::before {
  content: "";
  position: absolute;
  height: 2px;
  top: 50%;
  left: 0;
  background-color: var(--background-basic-color);
}

.section-title-text {
  position: relative;
  padding: 0 20px;
  background-color: var(--background-basic-color);
  z-index: 1;
}

.skills .container {
  padding-top: 100px;
}

.skills-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  text-align: center;
  flex-wrap: wrap;
}

.skills-item {
  position: relative;
  max-width: 320px;
  margin-bottom: 101px;
  padding: 100px 20px 8px 20px;
}

.skills-item::before {
  content: "";
  position: absolute;
  height: 50px;
  top: 0;
  right: 0;
  left: 0;
  margin: auto;
  fill: var(--decorate-hover-color);
}

.skills-item:nth-child(4n+1)::before {
  width: 62px;
  background-image: url(./assets/svg/camera.svg);
}

.skills-item:nth-child(4n+2)::before {
  width: 60px;
  background-image: url(./assets/svg/video.svg);
}

.skills-item:nth-child(4n+3)::before {
  width: 66px;
  background-image: url(./assets/svg/image.svg);
}

.skills-item:nth-child(4n+4)::before {
  width: 32px;
  background-image: url(./assets/svg/mic.svg);
}

.skills-item h3 {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 20px;
  line-height: 40px;
}

.skills-item p {
  font-size: 18px;
  line-height: 36px;
}

.portfolio .container {
  text-align: center;
  padding-bottom: 100px;
}

.portfolio .container .buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
  margin-bottom: 60px;
}

.portfolio .container .buttons .is-active {
  color: var(--background-basic-color);
  background-color: var(--decorate-hover-color);
}

.portfolio .container .buttons .is-active:hover {
  color: var(--text-basic-color);
}

.photos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}

.video .container {
  padding-bottom: 100px;
}

.video-player {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  position: relative;
}

.video-player img {
  width: 100%;
}

.video-button {
  position: absolute;
  width: 130px;
  height: 130px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  background-color: transparent;
  border: none;
  cursor: pointer;
  
}

.video-button::before {
  content: "";
  position: absolute;
  width: 130px;
  height: 130px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  background-image: url(./assets/svg/Play_hover.svg);
  transition: all .4s;
}

.video-button:hover::before {
  filter: invert(22%) sepia(22%) saturate(458%) hue-rotate(7deg) brightness(87%) contrast(89%);
}

.price .container {
  padding-bottom: 100px;
}

.price-list {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
  text-align: center;
  list-style: none;
}

.price-item {
  min-width: 450px;
  padding: 43px 43px 40px;
  border: 2px solid var(--decorate-hover-color);
}

.price .container h3 {
  font-family: 'Merriweather', serif;
  font-weight: bold;
  font-size: 28px;
  line-height: 56px;
  margin-bottom: 20px;
}

.price-item span {
  font-family: 'Merriweather', serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 48px;
  color: var(--decorate-hover-color);
}

.price .container p {
  font-size: 18px;
  line-height: 36px;
}

.price-item-disclaimer {
  margin: 20px 0 40px;
}

.contacts .container {
  display: flex;
  flex-direction: row-reverse;
  min-height: 700px;
  background-image: url('./assets/img/contacts.jpg');
  background-size: auto 700px;
  background-position: center top;
}

.contacts-wrapper {
  display: flex;
  flex-direction: column;
  width: 450px;
  padding-top: 60px;
}

.contacts .container .section-title {
  width: 100%;
  margin: 0 0 39px 0;
  text-align: left;
}

.contacts .container input,
.contacts .container textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 3px 19px;
  background-color: var(--background-input-color);
  font-family: inherit;
  font-size: 20px;
  line-height: 40px;
  color: var(--decorate-hover-color);
  border: 2px solid var(--decorate-hover-color);
}

.contacts .container textarea {
  height: 100px;
  resize: none;
}

.contacts .container input::placeholder,
.contacts .container textarea::placeholder {
  font-family: inherit;
  font-size: 20px;
  line-height: 40px;
  color: var(--decorate-hover-color);
}

.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 150px;
  padding: 50px 20px;
}

.footer .container .copyright {
  display: flex;
  justify-content: space-between;
  width: 182px;
  margin-right: 24px;
  padding-right: 13px;
}

.social-link-list {
  display: flex;
  list-style: none;
}

.social-link-item {
  position: relative;
  width: 32px;
  height: 32px;
  margin-left: 20px;
}

.social-link-item::before {
  content: "";
  position: absolute;
  width: 32px;
  height: 32px;
  top: 0;
  left: 0;
}

.link-instagram::before {
  background-image: url(./assets/svg/inst.svg);
}

.link-facebook::before {
  background-image: url(./assets/svg/fb.svg);
}

.link-twitter::before {
  background-image: url(./assets/svg/tw.svg);
}

.link-pinterest::before {
  background-image: url(./assets/svg/pinterest.svg);
}

.social-link-item:hover::before {
  filter: invert(22%) sepia(22%) saturate(458%) hue-rotate(7deg) brightness(87%) contrast(89%);
}

.footer a {
  color: var(--text-basic-color);
  text-decoration: none;
  transition: all .4s;
}

.footer a:hover {
  color: var(--decorate-hover-color);
}

@media (max-width: 768px) {

  .header .container {
    padding: 20px 60px;
    background-image: url('./assets/img/bg.jpg');
    background-position: -5px -30px;
    background-repeat: no-repeat;
    background-size: auto 620px;
  }

  .nav-list {
    display: block;
    flex-direction: column;
    flex-wrap: nowrap;
    position: fixed;
    right: -620px;
    top: 0;
    width: 620px;
    height: 100%;
    padding: 134px 127px;
    background-color: var(--background-basic-color);
    z-index: 2;
    transition: all .9s ease-in-out;
    transition-delay: .2s;
  }


  .nav .is-active {
    right: 0;
    transition: all .9s ease-in-out;
  }

  .nav-list li {
    margin-bottom: 15px;
}

  .nav-list a {
    font-size: 34px;
    line-height: 73px;
  }

  .switcher-languages {
    margin-right: 30px;
  }

  .switcher-languages .slash {
    padding: 0 15px 0 5px;
  }

  .switcher-theme {
    margin-left: 0;
    margin-right: 80px;
  }

  .hamburger {
    display: block;
    position: absolute;
    right: 60px;
    order: 3;
    z-index: 3;
  }

  .hero .container {
    min-height: 500px;
    padding: 78px 60px 60px 60px;
    background-position: -5px -120px;
    background-size: auto 620px;
  }

  .hero .container h1 {
    margin-bottom: 20px;
    font-size: 32px;
    line-height: 64px;
    font-weight: 400;
  }

  .hero .container p {
    max-width: 390px;
    margin-bottom: 60px;
    line-height: 24px;
  }
  
  .section-title {
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 65px;
  }

  .skills .container {
    padding-bottom: 105px;
  }

  .skills-list {
    padding: 0 42px;
  }

  .skills-item {
    max-width: 300px;
    margin-bottom: 68px;
    padding: 80px 10px 8px 10px;
  }

  .skills-item p {
    line-height: 22px;
  }

  .portfolio .container .section-title {
    margin-bottom: 69px;
  }

  .portfolio .container .buttons {
    padding: 0 50px;
  }

  .video .container .section-title {
    margin-bottom: 71px;
  }

  .video-player {
    justify-content: center;
    height: 418px;
    padding: 0;
    overflow: hidden;
  }

  .video-player img {
    position: relative;
    width: 110%;
    left: 23px;
  }
  .video-button::before {
    width: 65px;
    height: 65px;
  }

  .price .container {
    padding-bottom: 80px;
  }

  .price .container .section-title {
    margin-bottom: 69px;
  }

  .price-list {
    gap: 50px;
  }

  .price-item {
    min-width: 420px;
    padding: 42px 43px 40px;
}

  .contacts .container {
    min-height: 600px;
    justify-content: center;
    text-align: center;
    background-size: auto 600px;
  }

  .contacts .container .section-title {
    padding-top: 12px;
    margin: 0 0 52px 0;
    text-align: center;
}

.footer .container {
  flex-direction: column;
  align-items: center;
  min-height: 190px;
  padding: 20px 20px 35px;
}

.footer .container .copyright {
  margin-right: 0;
  padding-right: 7px;
}

.school-link {
  padding-bottom: 15px;
}

.social-link-list {
  justify-content: center;
  gap: 20px;
}

.social-link-item {
  margin: 0;
}

}

@media (max-width: 767px) {
  .video-player {
    justify-content: center;
    height: auto;
    padding: 0;
    overflow: hidden;
  }

  .video-player img {
    position: relative;
    width: 100%;
    left: 0;
  }
}

@media (max-width: 740px) {
  .skills-list {
    justify-content: center;
  }
}

@media (max-width: 619px) {
  .nav-list {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .header .container {
    padding: 20px 40px;
  }

  .hamburger {
    right: 40px;
  }

  .section-title {
    font-size: 23px;
    line-height: 32px;
    margin-bottom: 65px;
}

  .photos img {
    width: 100%;
  }

  .price-item {
    min-width: 0;
    padding: 42px 43px 40px;
  }
}

.light-theme {
  background-color: var(--text-basic-color);
  color: var(--background-basic-color);
}

.light-theme .portfolio-btn {
  color: var(--background-basic-color);
}

.light-theme .portfolio-btn:hover {
  color: var(--decorate-hover-color);
}

.portfolio-btn:hover, .portfolio-btn:focus{
	box-shadow: 0 0 0 2em rgba(255, 255, 255, 0);
	animation: pulse 1s;
}
@keyframes pulse{
	0%{box-shadow: 0 0 0 0 var(--decorate-hover-color)}
}
